
    .round {
        border-radius:10px;
      }
  
      .uppercase {
        text-transform:uppercase;
      }
  
      .clear {
        clear: left;
      }
  
      .icon_margin_10 {
        margin-right: 10px !important;
        padding-right: 10px !important;
      }
  
      .icon_center_horizontal {
        margin: auto;
      }
  
      .font_14 {
        font-size: 14px;
      }
  
      .font_24 {
        font-size: 20px;
      }
  
      .bold {
        font-weight: bold;
      }
  
      .center {
        height: 128px;
        line-height: 50px;
        text-align: center !important;
      }
  
      .center_horizontal {
        text-align: center !important;
        margin: auto !important;
      }
  
      .icon_32 {
        width: 36px;
        height: auto;
      }
  
      .icon_64 {
        width: 46px;
        height: auto;
      }
  
      .icon_128 {
        width: 128px;
        height: auto;
      }
  
      .panel_current {
        width: auto;
        height: 200px;
        overflow: hidden;
      }
  
      .panel_current .mui-row span {
        display: block;
        padding: 0px;
        margin: 0px;
        font-size: 200%;
      }
  
      .panel_current .mui-row #icon {
        display: block;
        height: auto;
        padding: 0px;
        margin: 0px;
        font-size: 200%;
      }
  
      .panel_hourly {
        display: flex;
        width: auto;
        height: 128px;
        overflow-y: hidden;
      }
  
      .panel_hourly #hw_item {
        background: rgba(0.0, 0.0, 0.0, 0.2);
        display: block !important;
        float: left !important;
        width: 64px !important;
        margin: 0px 10px;
      }
  
      .panel_hourly #hw_item * {
        display: block !important;
        margin: auto !important;
      }
  
      .panel_daily {
        width: auto;
        height: 200px;
        overflow-x: hidden;
      }